@page
@model AvioApp.Pages.RegularUser.IndexModel
@{
    ViewData["Title"] = "Regular user page";
}


<div class="text-center form-group row" style="background-color:aliceblue; margin-bottom:100px">
    <div class="offset-3 col-6">
        <h1 class="display-4">Rezervacija avio karata</h1>
    </div>
    <div class="offset-1 col-2">
        <label class="display-7"> Korisnik: @Model.Username </label>
        <a class="btn btn-primary btn-sm" style="font-size:20px" href="/">Odjavite se</a>
    </div>


</div>

<div class="row text-center" style="background-color:dodgerblue; margin-top:-100px; border:solid">

    <div class="offset-2 col-4">
        <label class="display-6" style="font-weight:bold; color:white" >  Avionski letovi </label>
    </div>

    <div class="col-4">
        <label class="display-6"> <a style="color:black; text-decoration-line:none" href="/RegularUser/MyReservations?username=@Model.Username">Moje rezervacije</a> </label>
    </div>

</div>

<br/>




<div class="row text-center">
    <div class="col-12">

        <h1 class="display-5" style="color:royalblue; font-weight:500;">Pretraga leta</h1>

    </div>
</div>
<br/>


<div class="container border" style="padding:50px; background-color:aliceblue">



    <form method="post">
        <div class="form-group row">


            <div class="offset-1 col-3">

                <label style="font-size:25px">Mesto polaska: </label>
            </div>
            <div class="offset-1 col-5">

                <select class="form-select" name="PlaceFrom" value="@Model.PlaceFrom">
                    <option value="Beograd">Beograd</option>
                    <option value="Niš">Niš</option>
                    <option value="Kraljevo">Kraljevo</option>
                    <option value="Priština">Priština</option>
                    <option value="/">/</option>


                </select>

            </div>
        </div>

        <div class="form-group row" style="margin-top:20px">

            <div class=" offset-1 col-3">

                <label style="font-size:25px">Mesto dolaska: </label>
            </div>
            <div class=" offset-1 col-5">
                <select class="form-select" name="PlaceTo" value="@Model.PlaceTo">
                    <option value="Beograd">Beograd</option>
                    <option value="Niš">Niš</option>
                    <option value="Kraljevo">Kraljevo</option>
                    <option value="Priština">Priština</option>
                    <option value="/">/</option>
                </select>
            </div>
        </div>

     



        <div class="form-group row" style="margin-top:40px">
            
            <div class="offset-2 col-3">
                <label style="font-size:25px">Isključivo bez presedanja: </label>

            </div>

            <div class="col-1" style="margin-top:10px">
                <input type="checkbox" class="form-check-input" name="Transfer" value="@Model.Transfer" />
            </div>

            <div class="col-6">

                <button type="submit" class="btn btn-primary btn-sm" style="font-size:30px">Pretražite</button>
            </div>

        </div>


    </form>
</div>

<br />

<br />



<div class="row text-center">
    <div class="col-12">

        <h1 class="display-5" style="color:royalblue; font-weight:500;">Rezultat pretrage:</h1>

    </div>
</div>
<br />

<table class="table">

    <thead>

            <th>Mesto polaska:</th>
            <th>Mesto dolaska:</th>

            <th>Datum polaska:</th>

            <th>Sa presedanjem</th>
            

    </thead>

    <tbody>

         @foreach (var flight in Model.flights)
        {
            <tr>
                <td>@flight.place_from</td>
                <td>@flight.place_to</td>
                <td>@flight.date</td>
                <td>
                    @(@flight.transfers != 0  ? Html.Raw("DA") : Html.Raw("NE"))
                </td>
                <td style="display:@(@flight.status.Equals("Otkazan") ? Html.Raw("none") :  Html.Raw("") )">
                    
                    <a class="btn btn-primary btn-sm" style="font-size:20px" href="/RegularUser/TicketReservation?id=@flight.id&username=@Model.Username">Rezervacija</a>

                </td>
                <td style="display:@(@flight.status.Equals("Aktivan") ? Html.Raw("none") :  Html.Raw("") )">

                    <span style="margin-top:5px; color:red; font-weight:bold">Otkazan let</span>

                </td> 
                

            </tr>

        }

    </tbody>


</table>
